html {
    scroll-behavior: smooth;
   }

body {
    line-height: 2em;
    background-color:black;
}

.center {
    text-align: center;
}

.freeup{
    padding: 1em;
    margin-bottom: 0.2 em;
}


@keyframes buttons {
    0%{
        transform: translateY(-50);
        opacity: 0;
        }
    46%{
        transform: translateY(-30);
        opacity: 0.5;
        }
    100%{
        }
}

.frame{
    animation: buttons 3s 1 0s linear;
}

.bg-cool-orange {
  background-color:#EDD892;
  background-blend-mode: darken;
}

.small{
    height: 25%;
    width: 25%;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    margin: 0;
    display: flex;
    align-items: center;
  }

  .removegap{
      margin-bottom: 0;
  }

.bg {
    background-color: black !important;
    
}

.no-white-space{
    padding: 0 !important;
    margin-bottom: 0 !important;
}